#contenido{
    width: 50%;
    margin: auto;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav li a{
    display:inline-block;
    width: 120px;
    padding:10px;
}
.nav li a:hover{
    background-color: darkgray;
    color: #FFFFFF;
    border-radius: 5px;
}