
#contenido{
    text-align: center;
    width: 70%;
    margin: auto;
    min-height: 500px;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 20px;
}
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav li a{
    display:inline-block;
    min-width: 120px;
    padding:10px;
}
.nav li a:hover{
    background-color: darkgray;
    color: #FFFFFF;
    border-radius: 5px;
}
#footer_general {
    margin: 0 auto;
}
#pie_pagina {
    text-align: center;
    color: #0069d6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}
.success {
    font-size: 15px;
}
